@use 'sass:map';
@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.auth-container {
    max-width: 600px;
}

.auth-form {
    @include flex-column;
    gap: 20px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

// Адаптивность
@include mobile {
    .form-row {
        grid-template-columns: 1fr;
        gap: 12px;
    }
}