@use 'sass:map';
@use '../../../assets/styles/variables' as *;

.custom-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;

  &:hover {
    text-decoration: none;
  }

  // Размеры
  &--sm {
    font-size: map.get($font-size, sm);
  }

  &--md {
    font-size: map.get($font-size, mid);
  }

  &--lg {
    font-size: map.get($font-size, lg);
  }

  // Варианты
  &--primary {
    color: map.get($colors, light);

    &:hover {
      color: map.get($colors, accent);
    }
  }

  &--secondary {
    color: map.get($colors, dark);

    &:hover {
      color: map.get($colors, accent);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__text {
    line-height: map.get($line-height, normal);
  }
}