// Montserrat Light
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// Montserrat Regular
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// Montserrat Medium
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// Montserrat SemiBold
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// Montserrat Bold
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// ChironSungHK Light
@font-face {
    font-family: 'ChironSungHK';
    src: url('../fonts/ChironSungHK/ChironSungHK-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// ChironSungHK Regular
@font-face {
    font-family: 'ChironSungHK';
    src: url('../fonts/ChironSungHK/ChironSungHK-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// ChironSungHK Medium
@font-face {
    font-family: 'ChironSungHK';
    src: url('../fonts/ChironSungHK/ChironSungHK-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// ChironSungHK SemiBold
@font-face {
    font-family: 'ChironSungHK';
    src: url('../fonts/ChironSungHK/ChironSungHK-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// ChironSungHK Bold
@font-face {
    font-family: 'ChironSungHK';
    src: url('../fonts/ChironSungHK/ChironSungHK-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}